* {
  background: rgba(0,0,0,0);
}

tooltip {
  color: black;
  background-color: #AEAAAE;
  text-shadow: none;

  border-radius: 0;
}

tooltip * {
  color: black;
  text-shadow: none;
}

#battery {
  margin: 24px 0 0 0; 
  font-size: 22px;
  color: #73d216;
}
#battery.warning {
  color: #edd400;
}
#battery.critical {
  color: #cc0000;
}

#tray {
  margin-top: 24px;
}

#tray menu {
  background: #AEAAAE;
}

#clock {
  background-color: #000;
  color: #1ab3ab;
  font-family: "DS-Digital";
  font-size: 22px;

  padding: 0px 4px;
  margin: 24px 0 0 6px;
}

#taskbar button {
  background: url("/home/cpence/Nextcloud/Pictures/Dock/tile.png");
  padding: 8;
  margin: 0;

  border: 0;
  border-radius: 0;
}

#taskbar button.minimized {
  opacity: 0.5;
}
